%h1.mt-4.text-center BoatWerks
= image_tag "home_koru.png", {:class => "rounded mt-5 mx-auto d-block"}
%h2.mt-4.text-center Koru Boat Services
%p.text-center Starboard hearties avast jolly boat black jack cackle fruit weigh anchor gaff Jack Ketch hands. Pirate cutlass jib rigging clipper Jack Tar line careen Chain Shot pressgang. Scuttle execution dock pirate Sail ho bowsprit American Main fire ship poop deck killick Pirate Round.
